<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short URL</title>

    <style>
        body {
            background-size: cover;
            align-items: center;
            align-content: center;
        }
        .custom-heading {
            font-family: 'Poppins', sans-serif;
            align-self: center;
            font-weight: 600;
            font-size: 2.7vw;
            color: #000224; 
        }
        .container{
            max-width: 100%;
        }
        .features {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 2rem;
            border-radius: 0.5rem;
            margin-top: 2rem;
        }
        h4 {
            font-family: 'Arial', sans-serif;
            color: #333333;
            text-align: center;
            padding: 10px;
            margin: 20px;
            background-color: #f8f8f8;
        }
        .vertical-center {
            min-height: 100vh; 
            min-height: calc(100vh - 56px); 
            display: flex;
            align-items: center;
            margin-top: 3vh;
            flex-direction: column;
        }
        .custom-heading {
            font-family: 'Poppins', sans-serif;
            align-self: center;
            font-weight: 600;
            font-size: 4vw;
            color: #000224; 
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="py-2 bg-body-tertiary border-bottom" data-bs-theme="dark">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a class="nav-link link-body-emphasis px-2 active fw-bold pe-5" aria-current="page">UrlCrunch</a>
                </li>
                <li class="nav-item">
                    <a href="/user/analytics" class="nav-link link-body-emphasis px-2">Analytics</a>
                </li>
            </ul>
            <ul class="nav">
                <% if (locals.user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link link-body-emphasis dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hi, <%= locals.user.fullName %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a href="/user/login" class="nav-link link-body-emphasis px-2">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/signup" class="nav-link link-body-emphasis px-2 btn-primary btn">Sign up</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container mt-10 vertical-center">
        <h1 class="custom-heading mb-5 mt-5">Your short URL is:</h1>
        <div class="alert alert-primary mb-4" role="alert" style="word-wrap: break-word;">
            http://localhost:3000/url/<%= id %>
        </div>

        <!-- Social Media Sharing Buttons -->
        <div>
            <a href="https://wa.me/?text=<%= encodeURIComponent(id) %>" class="btn btn-success">Share on WhatsApp</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(id) %>" class="btn btn-primary">Share on Facebook</a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= encodeURIComponent(id) %>" class="btn btn-info">Share on LinkedIn</a>
            <a href="mailto:?subject=I wanted to share this link with you&body=Check out this site <%= encodeURIComponent(id) %>" class="btn btn-secondary">Share via Email</a>
        </div>

        <div class="mt-4">
            <a href="/" class="btn btn-warning">Shorten another URL</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
